[Unit]
Description=Set USB port to host mode
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "sleep 5; echo host > /sys/class/usb_role/ci_hdrc.0-role-switch/role"
ExecStop=/bin/sh -c "echo device > /sys/class/usb_role/ci_hdrc.0-role-switch/role"

[Install]
WantedBy=multi-user.target
